<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nano poS || Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../resources/css/jsidebar.css" rel="stylesheet">
	<link rel="shortcut icon" href="../../resources/img/favicon.ico">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-dashboard"> Dashboard</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-leaf"> Product</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-send"> Sale</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-user"> Customer</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-list-alt"> Inventory</a>
                </li>
				<li>
                    <a href="#"><span class="glyphicon glyphicon-equalizer"> Report</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-cog"> Settings</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-log-out"> Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"><span style="font-size:30px;">&#9776;</span></a>
			</div>
			<ul class="nav navbar-nav">
			  <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Sales</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			  <li class="dropdown">
			  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> User <span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li>
                    <a href="#"><span class="glyphicon glyphicon-equalizer"> Profile</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-wrench"> Settings</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-log-out"> Logout</a>
                </li>
			  </ul>
			  </li>
			</ul>
		  </div>
		</nav>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                
            </div>
        </div>
        <!-- /#page-content-wrapper -->
		

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
